<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<!-- 리스트 출력을 위해 타임리프 사용 : 이렇게 주소 입력하면 끝!  -->
<head>
    <meta charset="UTF-8">
    <title>게시글 리스트 페이지</title>
</head>
<style>
    .layout {
        width : 500px;
        margin : 0 auto;
        margin-top : 40px;
    }

</style>
<body>
  <div class="layout">

    <table>
      <thead>
        <tr>
          <th>글 번호</th>
          <th>제목</th>
        </tr>
      </thead>

      <tbody>
        <tr th:each="board : ${list}">
          <!-- list에서 board가 없어질때까지 반복 -->
          <td th:text="${board.id}">1</td>
          <td>
            <a th:text="${board.title}" th:href="@{/board/view(id=${board.id})}"></a>
                                        <!--
                                        localhost:8090/board/view?id= 1 ~ 121
                                        제목부분에 링크를 달아서 id번호에 해당하는 게시물로 이동
                                        -->
          </td>

        </tr>
      </tbody>
    </table>

    <!--th:block    굳이 태그로 감쌀필요가없는 부분을 타임리프 문법을 사용할때 쓰는 문법 -->
    <th:block th:each="page : ${#numbers.sequence(startPage,endPage)}">
      <a th:if="${page != nowPage}" th:href="@{/board/list(page = ${page - 1}, searchKeyword = ${param.searchKeyword})}" th:text="${page}"></a>
      <strong th:if="${page == nowPage}" th:text="${page}" style="color : red"></strong>
    </th:block>

    <form th:action="@{/board/list}" method="get">
      <input type="text" name="searchKeyword">
      <button type="submit">검색</button>
    </form>
  </div>
</body>
</html>